<nav class="navbar navbar-light bg-light justify-content-between mb-3">
  <a class="navbar-brand">Blogs</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/login">Login</button>
    &nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink="/register">Sign Up</button>
  
  </form>
</nav>

<!-- <app-header></app-header> -->
<div class="container  align-self-center">
    <div *ngFor="let item of blogs" class=" align-self-center mb-3">
        <div class="card" style="width: 50%; margin: auto;">
            <div class="card-header">
                <div class="row d-flex">
                    <div class="col-6 float-left">
                        <h3 class="card-title">{{item.blogName}}</h3>
                    </div>
                    <div class="col-6">
                        <h6  style="margin-left: 50%;" class="card-title">{{item.createdAt | date:'MMMM dd yyyy'}}</h6>
                    </div>
                </div>
            </div>
            <img class="card-img-top" src="{{item.image}}" style="height: 400px;" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{item.blogBody}}</p>
            </div>
            <div>
                <ngb-accordion #acc="ngbAccordion" class="col-md-4 text-right" style="margin-right: 15px;">
                        <ngb-panel title="{{item.comments.length}}  Comments">
                            <span>{{item.comments.length}}</span>
                             Comments
                            <ng-template ngbPanelContent>
                                <div class="card text-center mb-3 p-0" width="100%" *ngFor="let c of item.comments"
                                    style="background-color:  rgb(226, 226, 226); border-radius: 30px 30px;">
                                        <div class="card-body col-12 m-2 p-1 text-left" *ngIf="c.isAppeoved==true">
                                            <a href="#" class="card-title profile text-left">{{c.vistorId}}</a>
                                            <p class="card-subtitle mb-2 mt-1 text-muted text-left">Commented At - {{c.createdAt | date:'MMMM dd yyyy'}}</p><br />
                                            <p class="card-text text-justify">{{c.commentBody}}</p>
                                        </div>
                                </div>
                                <div class="col-md-12 d-flex" >
                                    <input type="text" width="100%" name="Comment" class="commentinput form-control"
                                        placeholder="Write a comment....." #addcomment>
                                    <input type="button" class="btn btn-primary mx-2" value="send" (click)="addComment(item.blogId,addcomment.value)">
                                </div>
                            </ng-template>
        
                        </ngb-panel>
        
                </ngb-accordion>
            </div>
            <hr/>
        </div>
    </div>
</div>